<% 
    const pages = Math.ceil(count/limit);
    const previous =  page <= 1 ? 'disabled': '';
    const next =  page >= pages ? 'disabled': ''; 
%>

<% if(pages > 0) {%>
    <ul class="pagination">
        <% 
            const margin = Math.floor(buttons/2);
            const intervals = {
                'startPagination': [ 1, pages <= buttons ? pages: buttons ],
                'middlePagination': [ page-margin, page+margin ],
                'finalPagination': [ pages-buttons+2, pages ]
            }
            const startPagination = page <= margin+1;
            const middlePagination = page > margin+1 && page <= pages-margin;
            const interval = startPagination 
                ? 'startPagination'
                :  middlePagination 
                    ? 'middlePagination'
                    : 'finalPagination';

            const [ start, end ] = intervals[interval];
        %>
        <% 
            const nextPage = page < pages ? page+1 : pages;
            const previusPage = page > 1 ? page-1: 1;
        %> 
        
        <li class="page-item <%= previous %>">
            <a href="<%=baseUrl%>page=<%=previusPage%>&limit=<%=limit%>">
                Anterior
            </a>
        </li>

        <% for( let i = start; i <= end; i++ ) { %> 
            <% const active =  i === page ? 'active': ''; %> 
            <li class="page-item <%= active %>">
                <a href="<%=baseUrl%>page=<%=i%>&limit=<%=limit%>">
                    <%= i %>
                </a>
            </li>
        <% } %>

        <li class="page-item <%= next %>">
            <a href="<%=baseUrl%>page=<%=nextPage%>&limit=<%=limit%>" >
                Próximo
            </a>
        </li>
    </ul>
<% } %>