<article class="produtos-card">
    <% let favorited = typeof(favorite) !== 'undefined' ? favorite: false;  %> 

    <div class="favorite-product">
        <i 
            data-product_id="<%= id %>" 
            class="fas fa-heart <%= favorited ? 'favorited': '' %>"
        >
        </i>
    </div>

    <a href="/products/<%= id %>">
        <figure class="produtos-descricao">
            <img src="<%= image_src %>" width="250" height="250" alt="">
            <figcaption>
                <span></span>
                <span></span>
            </figcaption>
        </figure>
    </a>
    
    <span class="product-name">
        <%= nome %>
    </span>
    <span>
        <%= new Intl.NumberFormat( 'pt-br' , { 
            style: 'currency' ,
            currency: 'BRL'
        }).format(preco) %>
    </span>
    <button class="buy-product">Adicionar</button>
</article>